{% extends 'base.html' %}
{% block title %} Delet Post {% endblock title %}

{% block content %} 

    {% if messages %}
        {% for message in messages %}
            {% if 'warning' in message.tag %}
                <div class="ui negative message">
                    <div class="header">
                        {{message}}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if not messages %}
        <div class="ui segment">
            <h3 class="text-center">Delete Post</h3>
            <p>Are You Sure Yoou Want To Delete The Post???</p>
            <form action="" method="POST">
                {% csrf_token %}

                <button type="submit">Delete</button>
            </form>
        </div>
    {% endif %}
{% endblock content %}